#banner{
	background-color: #000;
	color: #fff;
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
}

#logo {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}


#bannerLinks a, li{
	list-style-type: none;
	text-decoration: none;
	color: #fff;
	position: relative;
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
	right: -150px;

}

.search {
	width: 24px;
	height: 24px;
	position: absolute;
	right: -210px;
	top: -2px;
}

.perfil {
	width: 29px;
	height: 29px;
	position: absolute;
	right: -190px;
	top: -4px;
}

body section {
	float: left;
	border: 1px solid rgba(0, 0, 0, .2);
	width: 300px;
	margin-left: 12px;

}

body section img {
	width:200px;
	height:100px;
}

section {
	position: relative;
	top: 50px;

}

section div {
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

section div.finaldestaque {
	border-bottom: 0;
}
section div.homempresosinal{
	border-bottom: 0;
}

section.destaques {
	border-left: 0px;
	border-right: 0px;
}

section.destaques2 {
	border-left: 0px;
}

section.internacional {
	border-left: 0px;
	border-right: 0px;
}

section.pop {
	border-left: 0px;
	border-right: 0px;
}




